.App {
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  width: 90%;
  margin: 0 auto;
}

.buttons {
  margin: 50vh auto 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttonWrapper {
  width: 25%;
  text-align: center;
  margin: 15px auto;
}

.hoge {
  width: 58px;
  height: 58px;
  border-radius: 17px;
  background: #ffe2cc;
  box-shadow: 6px 6px 12px #ebd0bc, -6px -6px 12px #fff4dc;
}

.fuga {
  width: 58px;
  height: 58px;
  border-radius: 17px;
  background: #ffe2cc;
  box-shadow: inset 6px 6px 12px #ebd0bc, inset -6px -6px 12px #fff4dc;
}

@media screen and (min-width: 700px) {
  .body {
    width: 50%;
    margin: 200px auto;
  }

  .buttonWrapper {
    margin: 30px auto;
  }

  .hoge {
    width: 87px;
    height: 87px;
    border-radius: 27px;
    background: #ffe2cc;
    box-shadow: 10px 10px 20px #ebd0bc, -10px -10px 20px #fff4dc;
  }

  .fuga {
    width: 87px;
    height: 87px;
    border-radius: 27px;
    background: #ffe2cc;
    box-shadow: inset 10px 10px 20px #ebd0bc, inset -10px -10px 20px #fff4dc;
  }
}
